<!DOCTYPE html>
<html>
  <head>
    <title>Musicmeta</title>
  </head>
  <body>
    <h1>MUSICMETA</h1>
    <form action="{% url 'musicmeta:index' %}" method="get">
      <input
        type="search"
        name="searchInput"
        id="searchInput"
        placeholder="Enter query"
      />
      <input type="submit" value="Search" id="searchBtn" />
    </form>
    <div>
      {% if artists %} {% for artist in artists %}
      <div class="card">
        <a href="/artist/{{artist.id}}/1"><h3>{{artist.name}}</h3></a>
        {% if artist.disambiguation %}
        <div class="disambiguation">{{artist.disambiguation}}</div>
        {% endif%}
        <div>Type: {{artist.type}}</div>
        <div>Begin: {{artist|get_begin}}</div>
        <div>Country: {{artist.country}}</div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </body>
</html>
